<%= form_with url: mypage_path, method: :get do |f| %>
  <div class="guest-search">
    <div class="form-group">
      <%= f.label :appointment_id, "予約ID" %>
      <%= f.text_field :appointment_id, placeholder: "予約を検索", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :guest_email, "メールアドレス" %>
      <%= f.text_field :guest_email, placeholder: "予約申し込み時のメールアドレス", class: "form-control" %>
    </div>
    <div style="width: 15%;">
      <%= button_tag type: "submit", class: "btn btn-light" do %>
        <i class="fa-solid fa-magnifying-glass" style="color: #0000b0;"></i>
      <% end %>
    </div>
  </div>
<% end %>