<div class="container mt-5">
  <div class="page-info mb-5">
    <h2>マイページ</h2>
  </div>


  <% if current_customer.is_guest %>
    <div class="text-center mt-5">
      <p>ゲストユーザーの方の情報はこちらから検索してください</p>
    </div>


  <% else %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>氏名</th>
          <td><%= @customer.fullname %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.fullname_kana %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= link_to "編集", information_path, class: "btn btn-success mx-2" %>
      <%= link_to "退会", confirm_withdraw_path, class:"btn btn-outline-danger mx-2" %>
    </div>

    <div class="page-info text-center my-5">
      <h3>予約一覧</h3>
    </div>
    <% if current_customer.appointments %>
      <table class="table">
        <thead>
          <tr>
            <th>予約申込日時</th>
            <th>予約内容</th>
            <th>予約状況</th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.each do |app| %>
            <tr>
              <td><%= l app.created_at, format: :long %></td>
              <td><%= app.category %></td>
              <td class="<%= app.is_done ? "text-success" : "text-danger" %>">
                <%= app.is_done ? "対応済" : "未対応" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>まだ予約情報はございません</h3>
    <% end %>
  <% end %>

</div>