<div class="container my-5">
  <div class="page-info mb-5">
    <h2>マイページ</h2>
  </div>


  <% if current_customer.is_guest %>
    <div class="text-center mt-5">
      <p>ゲストユーザーの方は予約情報を検索してください</p>
    </div>
    <div class="guest-mypage">
      <div class="guest-info-form">
        <%= render "guest_info_search" %>
      </div>

      <div class="guest-info">
        <% if @guest_appointment.present? %>
          <%= render "appointments", appointments: @guest_appointment.page(1) %>
        <% end %>
      </div>
    </div>

  <% else %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>氏名</th>
          <td><%= @customer.fullname %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.fullname_kana %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= link_to "編集", information_path, class: "btn btn-success mx-2" %>
      <%= link_to "退会", confirm_withdraw_path, class:"btn btn-outline-danger mx-2" %>
    </div>

    <div class="page-info text-center my-5">
      <h3>予約一覧</h3>
    </div>

    <% if current_customer.is_guest %>

    <% else %>
      <%= render "appointments", appointments: @appointments %>
    <% end %>
    <div class="page-info text-center my-5">
      <h3>お問い合せ一覧</h3>
    </div>
    <%= render "enquiries", enquiries: @enquiries %>
  <% end %>

</div>