<div class="page-info mb-2 text-center">
  <h5>買取依頼</h5>
</div>
<div class="instructions mb-3">
  <ul>
    <li>
      車検証をお手元にご用意し、入力してください
    </li>
    <li>
      車検証がない場合や不明な点はお気軽にお問い合せください
    </li>
  </ul>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :car_name, "車名" %>
  </div>
  <div class="input-field">
    <%= f.text_field :car_name, autofocus: true, class: "form-control", placeholder: "トヨタ プリウス S ツーリングセレクション" %>
  </div>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :chassis_no, "車台番号" %>
  </div>
  <div class="input-field">
    <%= f.text_field :chassis_no, autofocus: true, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :year, "年式" %>
  </div>
  <div class="input-field">
    <%= f.date_select :year, discard_day: true, autofocus: true, class: "form-control" %>式
  </div>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :chassis_code, "型式" %>
  </div>
  <div class="input-field">
    <%= f.text_field :chassis_code, autofocus: true, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :mileage, "走行距離" %>
  </div>
  <div class="input-field">
    <%= f.text_field :mileage, autofocus: true, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.radio_button :is_km, true %>
  <%= f.label :is_km, "km", value: true, class: "mx-1" %>


  <%= f.radio_button :is_km, false, class: "ml-3" %>
  <%= f.label :is_km, "miles", value: false, class: "mx-1" %>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :shaken_period, "車検" %>
  </div>
  <div class="input-field">
    <%= f.select :shaken_period, Car.shaken_periods_i18n.invert, autofocus: true, class: "form-control" %>
  </div>
</div>
<div class="instructions mb-3">
  <ul>
    <li>
      車検がない場合は終了日は選択不要です
    </li>
  </ul>
</div>
<div class="form-group">
  <div class="form-label">
    <%= f.label :shaken_finish, "車検終了日" %>
  </div>
  <div class="input-field">
    <%= f.date_select :shaken_finish, autofocus: true, class: "form-control" %>
  </div>

</div>
<div class="form-group">
  <div class="form-label">
    <%= f.label :sell_images, "出品画像" %>
  </div>
  <div class="input-field">
    <%= f.file_field :sell_images, multiple: true, accept: "image/*", class: "btn btn-outline-secondary btn-sm col-md-11" %>
  </div>
</div>