<div class="container my-5">
  <div class="page-info mb-4">
    <h3>買取見積り申し込み</h3>
  </div>

  <%= form_with model: @sell_request do |f| %>

    <%= fields_for :appointment, @sell_request.appointment do |ap| %>
      <%= ap.hidden_field :customer_id, value: current_customer.id %>
      <%= ap.hidden_field :category, value: Appointment.categories.key(1) %>

      <% if current_customer.is_guest? %>
        <div class="request-form">
          <%= render "public/appointments/app_form", f: ap %>
        </div>

      <% else %>
        <p class="text-center">
          ご登録の連絡先以外で予約をご希望の場合は、備考欄に記載してください
        </p>

        <%= ap.hidden_field :name ,value: current_customer.fullname %>
        <%= ap.hidden_field :phone_number, value: current_customer.phone_number %>
        <%= ap.hidden_field :post_code, value: current_customer.post_code %>
        <%= ap.hidden_field :email, value: current_customer.email %>
      <% end %>
    <% end %>
    <div class="request-form app-form my-5">
      <%= render "public/appointments/form", f: f %>
    </div>
    <div class="request-form detail-form mb-5">
      <%= fields_for :sell_detail, @sell_detail do |sd| %>
        <%= render "detail_form", f: sd %>
      <% end %>
      <div class="actions">
        <%= f.submit "予約申し込み", class: "btn btn-info btn-block mt-5" %>
      </div>
    </div>


  <% end %>
</div>