<table class="table table-bordered">
  <tbody>
    <tr>
      <th>氏名</th>
      <td><%= appointment.name %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= appointment.phone_number %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= appointment.post_code %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= appointment.email %></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>予約ID</th>
      <td><%= appointment.id %></td>
    </tr>
    <tr>
      <th>申し込み日時</th>
      <td><%= l appointment.created_at, format: :long %></td>
    </tr>
    <tr>
      <th>予約内容</th>
      <td><%= appointment.category_i18n %></td>
    </tr>
    <tr>
      <th>予約状況</th>
      <td class="<%= appointment.is_done ? "text-success" : "text-danger" %>">
        <%= appointment.is_done ? "対応済" : "未対応" %>
      </td>
    </tr>
  </tbody>
</table>