<div class="form-group">
  <%= f.label :name, "氏名" %>
  <%= f.text_field :name, autofocus: true, placeholder: "令和 道子" %>
</div>
<div class="form-group">
  <%= f.label :phone_number, "電話番号" %>
  <%= f.text_field :phone_number, autofocus: true, placeholder: "0000000000" %>
</div>
<div class="form-group">
  <%= f.label :post_code, "郵便番号" %>
  <%= f.text_field :post_code, autofocus: true, placeholder: "0000000" %>
</div>
<div class="form-group">
  <%= f.label :email, "メールアドレス" %>
  <%= f.text_field :email, autofocus: true, placeholder: "example@mail.com" %>
</div>
