<div class="page-info mb-4 text-center">
  <h5>予約日時</h5>
  <p>
    当日以降の日時を選択して下さい</br>
    <ul class="instructions">
      <li>8:00~19:00（月～土）</li>
      <li>休日（日/祝）</li>
    </ul>
  </p>
</div>
<div class="form-group">
  <div class="form-label">
    <%= f.label :option_a, "候補1" %>
  </div>
  <div class="input-field">
    <%= f.datetime_field :option_a, autofocus: true, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :option_b, "候補2" %>
  </div>
  <div class="input-field">
    <%= f.datetime_field :option_b, autofocus: true, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :option_c, "候補3" %>
  </div>
  <div class="input-field">
    <%= f.datetime_field :option_c, autofocus: true, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="form-label">
    <%= f.label :comment, "備考欄" %>
  </div>
  <div class="input-field">
    <%= f.text_area :comment, autofocus: true, rows: 4, placeholder: "備考", class: "form-control" %>
  </div>
</div>