<div class="form-group">
  <%= f.label :comment, "備考欄" %>
  <%= f.text_area :comment, autofocus: true, rows: 4, placeholder: "備考" %>
</div>
<div class="form-group">
  <%= f.label :option_a, "候補1" %>
  <%= f.datetime_field :option_a, autofocus: true %>
</div>
<div class="form-group">
  <%= f.label :option_b, "候補2" %>
  <%= f.datetime_field :option_b, autofocus: true %>
</div>
<div class="form-group">
  <%= f.label :option_c, "候補3" %>
  <%= f.datetime_field :option_c, autofocus: true %>
</div>