<div class="container my-5">
  <div class="page-info mb-4">
    <h3>予約申し込み</h3>
  </div>

  <%= form_with model: @appointment do |f| %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :category, value: Appointment.categories.key(2) %>

    <% if current_customer.is_guest? %>
      <div class="request-form">
        <%= render "app_form", f: f %>
      </div>
    <% else %>
      <p class="text-center">
          ご登録の連絡先以外で予約をご希望の場合は、備考欄に記載してください
      </p>

      <%= f.hidden_field :name ,value: current_customer.fullname %>
      <%= f.hidden_field :phone_number, value: current_customer.phone_number %>
      <%= f.hidden_field :post_code, value: current_customer.post_code %>
      <%= f.hidden_field :email, value: current_customer.email %>
    <% end %>

    <div class="page-info my-4">
      <h4>購入見積り</h4>
    </div>

    <%= fields_for :buy_request, @buy_request do |br| %>
    <%= br.hidden_field :car_id, value: params[:car_id] %>
      <div class="request-form">
        <%= render "form", f: br %>
      </div>
    <% end %>

    <div class="page-info my-4">
      <h4>買取見積り</h4>
    </div>

    <%= fields_for :sell_request, @sell_request do |sr| %>
      <div class="request-form">
        <%= render "form", f: sr %>
      </div>
    <% end %>

    <%= fields_for :sell_detail, @sell_detail do |sd| %>
      <div class="request-form detail-form mb-5">
        <%= render "public/sell_requests/detail_form", f: sd %>
        <div>
          <%= f.submit "予約申し込み", class: "btn btn-primary btn-block mt-5" %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>