<div class="container my-5">
  <div class="page-info mb-4">
    <h3>予約詳細</h3>
  </div>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>氏名</th>
        <td><%= @appointment.name %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @appointment.phone_number %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @appointment.post_code %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @appointment.email %></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>予約ID</th>
        <td><%= @appointment.id %></td>
      </tr>
      <tr>
        <th>申し込み日時</th>
        <td><%= l @appointment.created_at, format: :long %></td>
      </tr>
      <tr>
        <th>予約内容</th>
        <td><%= @appointment.category_i18n %></td>
      </tr>
      <% if @appointment.category == "buy" %>
        <tr>
          <th>候補1</th>
          <td><%= @buy_request.option_a %></td>
        </tr>
        <tr>
          <th>候補2</th>
          <td><%= @buy_request.option_b %></td>
        </tr>
        <tr>
          <th>候補3</th>
          <td><%= @buy_request.option_c %></td>
        </tr>
      <% end %>
      <tr>
        <th>予約状況</th>
        <td><%= @appointment.is_done ? "対応済" : "未対応" %></td>
      </tr>
    </tbody>
  </table>

  <% if @buy_request.comment %>
    <div><%= @buy_request.comment %></div>
  <% end %>
</div>