<div class="container my-5">
  <div class="page-info mb-4 mb-4">
    <h3>予約詳細</h3>
    <% if current_customer.is_guest %>
      <p class="instructions">
        お問い合せの際には予約IDと申し込み時のメールアドレスが必要になります</br>
        スクリーンショットやメモにお控えください
      </p>
    <% end %>
  </div>
  <div class="appointment-tables mb-5">
    <%= render "app_info", appointment: @appointment %>
  </div>
  <% if @appointment.category == "buy" %>
    <div class="app-info buy">
      <div class="page-info mb-4">
        <h5>購入見積り</h5>
      </div>
      <%= render "buy_request", buy_request: @buy_request %>
    </div>

  <% elsif @appointment.category == "sell" %>
    <div class="app-info sell">
      <div class="page-info mb-4">
        <h5>買取見積り</h5>
      </div>
      <%= render "sell_request", sell_request: @sell_request %>
    </div>
    <div class="sell-detail-info">
      <% if @sell_detail.sell_images.present? %>
        <div class="sell-images">
          <%= render "swiper_contents", car: @sell_detail %>
        </div>
      <% end %>
      <div class="sell-detail-table">
        <%= render "sell_detail", sell_detail: @sell_detail %>
      </div>

  <% elsif @appointment.category == "buy_and_sell" %>
    <div class="buy-and-sell">
      <div class="app-info buy">
        <div class="page-info mb-4">
          <h5>購入見積り</h5>
        </div>
        <%= render "buy_request", buy_request: @buy_request %>
      </div>

      <div class="app-info sell">
        <div class="page-info mb-4">
          <h5>買取見積り</h5>
        </div>
        <%= render "sell_request", sell_request: @sell_request %>
      </div>
    </div>

    <div class="sell-detail mt-4">
      <div class="page-info mb-4">
        <h5>買取車情報</h5>
      </div>
      <div class="sell-detail-info">
        <% if @sell_detail.sell_images.present? %>
          <div class="sell-images">
            <%= render "swiper_contents", car: @sell_detail %>
          </div>
        <% end %>
        <div class="sell-detail-table">
          <%= render "sell_detail", sell_detail: @sell_detail %>
        </div>
      </div>
    </div>
  <% end %>
</div>