<div class="container my-5">
  <div class="page-info mb-4">
    <h3>お問い合わせフォーム</h3>
  </div>

  <div class="enquiry">
    <%= form_with model: @enquiry do |f| %>
      <%= render "public/shared/error_messages", resource: @enquiry %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <% if current_customer.is_guest? %>
        <p class="instructions text-center">ご連絡先はどちらか一方だけでもお問い合わせは可能です</p>
        <div class="form-group">
          <%= f.label :phone_number, "電話番号" %>
          <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <%= render "form", f: f %>
      <% else %>
        <%= f.hidden_field :phone_number, value: current_customer.phone_number %>
        <%= f.hidden_field :email, value: current_customer.email %>
        <%= render "form", f: f %>
      <% end %>
    <% end %>
  </div>

</div>