<div class="container mt-5">
  <div class="page-info mb-5">
    <h3>お問い合せフォーム</h3>
    <p>ゲストユーザーの方は連絡先も含めてご記入ください</p>
  </div>

  <div class="enquiry">
    <%= form_with model: @enquiry do |f| %>
      <%= render "layouts/errors", obj: @enquiry %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :detail, "内容" %>
        <%= f.text_area :detail , rows: "7", placeholder: "お問い合わせ内容をご記入ください", autofocus: true, class: "form-control" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.submit "送信", class: "btn btn-info btn-block" %>
      </div>
    <% end %>
  </div>

</div>