<div class="container mt-5">
  <div class="page-info mb-5">
    <h3>お問い合わせ詳細</h3>
    <p>ゲストユーザーの方は連絡先も含めてご記入ください</p>
  </div>
  <div class="d-flex justify-content-center">
    <table class="table table-bordered enquiry">
      <tbody>
        <tr>
          <th colspan="2">
            <% if current_customer && !(current_customer.is_guest) %>
              <%= current_customer.fullname %>
            <% else %>
              <p>
                ゲストユーザー様</br>
                お問い合わせ内容のスクリーンショットなどをお控えください
              </p>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>ご連絡先</th>
          <td>
            <%= @enquiry.phone_number if present? %>
            <% if @enquiry.phone_number.present? && @enquiry.email.present? %>
              <span> / </span>
            <% end %>
            <%= @enquiry.email if present? %>
          </td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= @enquiry.title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @enquiry.detail %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>