<% if cars.length > 0 %>
  <div class="index-content p-2 text-center">
    <h5 class="font-weight-bold">
      カーリンカーでは、様々なお客様と車を日々繋げるため、幅広いサービスを行っております。
    </h5>
    <span class="index-copy family">
      家族が増えてファミリーカーをお探しの方！
    </span>
    <span class="index-copy new-start">
      新生活でお手頃価格の一台をお探しの方！
    </span></br>
    <span class="index-copy loved-car">
      長年共にした愛車の買取依頼！
    </span>
  </div>
  <div class="index-items">
    <% cars.each do |car| %>
      <div class="item">
        <%= link_to car_path(car.id), data:{"turbolinks" => false} do %>
          <div class="item-image">
            <%= image_tag car.first_image, class: "image" %>
          </div>
          <div class="info text-center">
            <p>
              <%= car.name %></br>
              <i class="fa-solid fa-gauge-high" style="color: #FF7722"></i>
              <%= number_with_delimiter(car.mileage) %>
              <span>
                <%= car.is_km ? "km" : "miles" %>
              </span> |
              <%= l car.year, format: :year %>年式

            </p>
            <p class="font-weight-bold"><%= number_to_currency(car.with_tax_price, unit: "¥", format: "%u %n", precision: 0 ) %> (税込)</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center">
    <%= paginate @cars %>
  </div>
<% else %>
  <h3 class="text-center font-weight-bold mt-5 pt-5">
    現在出品はございません
  </h3>
<% end %>