<div class="container">
  <div class="row">
    <% if current_customer %>
      <div style="width: 100%;">
        <%= render "index", cars: @cars %>
      </div>
    <% else %>
      <div class="public-index">
        <%= render "index", cars: @cars %>
      </div>
      <div class="login">
        <h2>会員ログイン</h2>
  
        <%= form_with model: @customer, url: customer_session_path, method: :post do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
  
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
  
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
          <p>
            無料会員登録は
            <%= link_to "こちら", new_customer_registration_path %>
          </p>
          <%= link_to "ゲストユーザーとして利用する", guest_login_path, method: :post %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>