<div class="container my-5">
  <div class="page-info mb-5">
    <h3>出品編集</h3>
  </div>
  <%= form_with model: @car, url: admin_car_path do |f| %>
    <%= render "public/shared/error_messages", resource: @car %>
    <div class="car-register-form">
      <div class="car-form">
        <div class="form-group">
          <div class="form-label">
            <%= f.label :name, "車名" %>
          </div>
          <div class="input-field">
            <%= f.text_field :name, autofocus: true, placeholder: "トヨタ プリウス", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-label">
            <%= f.label :price, "価格(税抜)" %>
          </div>
          <div class="input-field">
            <%= f.text_field :price, autofocus: true, placeholder: "1500000" %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :year, "年式" %>
          </div>
          <div class="input-field">
            <%= f.date_select :year, discard_day: true, start_year: 1988, end_year: Date.today.year, autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :chassis_code, "型式" %>
          </div>
          <div class="input-field">
            <%= f.text_field :chassis_code, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :mileage, "走行距離" %>
          </div>
          <div class="input-field">
            <%= f.text_field :mileage, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.radio_button :is_km, true %>
          <%= f.label :is_km, "km", value: true %>
          <%= f.radio_button :is_km, false, class: "ml-4" %>
          <%= f.label :is_km, "miles", value: false %>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :shaken_period, "車検" %>
          </div>
          <div class="input-field">
            <%= f.select :shaken_period, Car.shaken_periods_i18n.invert, autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :shaken_finish, "車検終了日" %>
          </div>
          <div class="input-field">
            <%= f.date_select :shaken_finish, start_year: Date.today.year, end_year: Date.today.year + 3, autofocus: true, include_blank: true %>
          </div>
        </div>
      </div>

      <div class="car-form">
        <div class="form-group">
          <div class="form-label">
            <%= f.label :detail, "セールスポイント" %>
          </div>
          <div class="input-field">
            <%= f.text_area :detail, autofocus: true, placeholder: "ここに説明文を記述します", rows: "5", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :color, "色" %>
          </div>
          <div class="input-field">
            <%= f.text_field :color, autofocus: true, placeholder: "パールホワイト", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :passenger_amount, "乗員定員" %>
          </div>
          <div class="input-field">
            <%= f.text_field :passenger_amount, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :grade, "グレード" %>
          </div>
          <div class="input-field">
            <%= f.text_field :grade, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :engine_capacity, "排気量" %>
          </div>
          <div class="input-field">
            <%= f.text_field :engine_capacity, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :transmission, "シフト" %>
          </div>
          <div class="input-field">
            <%= f.select :transmission, Car.transmissions_i18n.invert, autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label">
            <%= f.label :fuel, "使用燃料" %>
          </div>
          <div class="input-field">
            <%= f.select :fuel, Car.fuels_i18n.invert, autofocus: true %>
          </div>
        </div>
      </div>
      <div class="car-form">
        <div class="form-group mb-4">
          <div class="form-label">
            <%= f.label "出品画像" %>
          </div>
          <div class="input-field">
            <%= f.file_field :images, multiple: true, accept: "image/*", class: "btn btn-outline-secondary btn-block" %>
          </div>
          <% if @car.images %>
            <div class="d-flex flex-wrap">
              <% @car.images.each do |image| %>
                <div class="w-30">
                  <%= image_tag image.variant(resize: "88x66"), class: "mx-1 my-2" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <% @genres.each_with_index do |genre, i| %>
          <div class="form-group">
            <div class="form-label">
              <%= genre.name%>
            </div>
              <!--eachで取得した場合パラメータに判別用の数字をiの変数でくっつけてシンボル化-->
            <div class="input-field">
              <%= f.collection_select "subgenre_ids_#{i}".to_sym, genre.subgenres, :id, :name,{ include_blank: "--選択して下さい--", multiple: true, selected: @car.subgenres.pluck('subgenres.id')} %>
            </div>

          </div>
        <% end %>
        <div class="form-group car-status mt-5">
          <div class="form-label">
            <%= f.label "販売ステータス" %>
          </div>
          <div class="input-field">
            <%= f.radio_button :is_available, true %>
            <%= f.label :is_available, "出品中", value: true, class: "text-success mr-1" %>
            <%= f.radio_button :is_available, false, class: "ml-1" %>
            <%= f.label :is_available, "未出品", value: false, class: "text-danger" %>
          </div>
        </div>
        <div class="actions d-flex justify-content-center mt-4">
          <%= f.submit "更新", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
