<div class="container my-5">
  <div class="page-info d-flex justify-content-center mb-4">
    <h3><%= @cars.total_count%> 件出品</h3>
    <%= link_to new_admin_car_path do %>
      <%= button_tag type: "submit", class: "btn btn-outline-dark ml-3" do %>
        <i class="fa-solid fa-square-plus fa-xl" style="color: #FC741A;"></i>
      <% end %>
    <% end %>
  </div>
  <p class="text-center">
    <span class="text-success">出品中:</span>
    <%= @cars.where(is_available: true).total_count %>

    <span class="text-danger">未出品:</span>
    <%= @cars.where(is_available: false).total_count %>
  </p>

  <% if @cars.first %>
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
          <th>車ID</th>
          <th>車名</th>
          <th>価格(税抜)</th>
          <th>年式</th>
          <th>車検終了日</th>
          <th>出品状況</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td>
              <%= link_to edit_admin_car_path(car.id) do %>
                <i class="fa-solid fa-pen text-primary mr-2"></i>
              <% end %>
              <%= car.id %>
            </td>
            <td>
              <%= link_to admin_car_path(car.id), data:{"turbolinks" => false} do %>
                <%= image_tag car.first_image, size: "40x27", class: "mr-2" %>
                <%= car.name %>
              <% end %>
            </td>
            <td><%= number_to_currency(car.with_tax_price, unit: "¥", format: "%u %n", precision: 0 ) %></td>
            <td><%= l car.year, format: :year %>式</td>
            <td>
              <% unless car.shaken_period_i18n == "無し" %>
                <%= car.shaken_finish %>
              <% else%>
                N/A
              <% end %>
            </td>
            <td class="font-weight-bold text-center <%= car.is_available ? "text-success" : "text-danger" %>">
              <%= car.is_available ? "出品中" : "未出品" %>
              <%= link_to admin_car_path(car.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                <i class="fa-solid fa-trash-can text-danger ml-3"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row d-flex justify-content-center">
      <%= paginate @cars %>
    </div>
  <% end %>
</div>