<div class="container">
  <div class="row">
    <h1>出品一覧</h1>
    <%= link_to new_admin_car_path do %>
      <%= button_tag type: "submit", class: "btn btn-outline-secondary btn-lg ml-3" do %>
        <i class="fa-solid fa-square-plus fa-xl" style="color: #640125;"></i>
      <% end %>
    <% end %>
  </div>
  
  
  <% if @cars.first %>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>車ID</th>
          <th>車名</th>
          <th>価格(税抜)</th>
          <th>年式</th>
          <th>車検終了日</th>
          <th>出品状況</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><%= car.id %></td>
            <td class="row">
              <%= link_to admin_car_path(car.id) do %>
                 <%= image_tag car.first_image, size: "40x27", class: "mr-2" %>
                  <%= car.name %>
              <% end %>
            </td>
            <td><%= number_to_currency(car.with_tax_price, unit: "¥", format: "%u %n", precision: 0 ) %></td>
            <td><%= car.year %></td>
            <td>
              <% unless car.shaken_period_i18n == "無し" %>
                <%= car.shaken_finish %>
              <% else%>
                <p>N/A</p>
              <% end %>
            </td>
            <td class="font-weight-bold">
              <p class="<%= car.is_available ? "text-success" : "text-danger" %>">
              <%= car.is_available ? "出品中" : "出品停止中" %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row d-flex justify-content-center">
      <%= paginate @cars %>
    </div>
  <% end %>
</div>