<div class="container my-5">
  <div class="show-page">
    <div class="show-image">
      <h5 class="text-center font-weight-bold my-3"><%= @car.name%></h5>

      <div class="show-images">
        <%= render "public/cars/swiper_show", car: @car %>
      </div>
      <div class="page-info mt-5">
        <h5>セールスポイント</h5>
      </div>
      <div class="car-detail my-4">
        <p><%= @car.detail %></p>
      </div>
    </div>

    <div class="show-info">
      <table class="table">
        <tbody>
          <tr>
            <th class="price">
              車両本体価格（税抜）</br>
              <%= number_to_currency(@car.price, unit: "¥", format: "%u %n", precision: 0 ) %>
            </th>
            <th class="price">
              車両本体価格（税込）</br>
              <%= number_to_currency(@car.with_tax_price, unit: "¥", format: "%u %n", precision: 0 ) %>
            </th>
          </tr>
          <tr>
            <th>車ID</th>
            <td><%= @car.id %></td>
          </tr>
          <tr>
            <th>年式</th>
            <td><%= l @car.year, format: :year %>式</td>
          </tr>
          <tr>
            <th>型式</th>
            <td><%= @car.chassis_code %></td>
          </tr>
          <tr>
            <th>走行距離</th>
            <td>
              <%= number_with_delimiter(@car.mileage) %>
              <span>
                <%= @car.is_km ? "km" : "miles" %>
              </span>
            </td>
          </tr>
          <tr>
            <th>車検期間</th>
            <td><%= @car.shaken_period_i18n %></td>
          </tr>
          <tr>
            <th>車検終了日</th>
            <td>
              <% if @car.shaken_period_i18n == "無し" %>
                <p>N/A</p>
              <% else %>
                <%= @car.shaken_finish %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>グレード</th>
            <td><%= @car.grade %></td>
          </tr>
          <tr>
            <th>排気量</th>
            <td><%= @car.engine_capacity %></td>
          </tr>
          <tr>
            <th>シフト</th>
            <td><%= @car.transmission_i18n %></td>
          </tr>
          <tr>
            <th>使用燃料</th>
            <td><%= @car.fuel_i18n %></td>
          </tr>
          <tr>
            <th>色</th>
            <td><%= @car.color %></td>
          </tr>
          <tr>
            <th>乗員定員</th>
            <td><%= @car.passenger_amount %></td>
          </tr>
          <tr>
            <th>出品状況</th>
            <td class="<%= @car.is_available ? "text-success" : "text-danger" %>">
              <%= @car.is_available ? "出品中" : "未出品" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to admin_car_path(@car.id), method: :delete, class: "btn btn-danger btn-block mx-2", data: { confirm: "本当に削除しますか？" } do %>
              <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_admin_car_path(@car.id), class: "btn btn-primary btn-block mx-2" do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
