<%= form_with model: [:admin, new_genre], local: false do |f| %>
  <div id="errors">
    <%= render 'layouts/errors', obj: new_genre %>
  </div>
  
  <div class="form-group row">
    <%= f.label "ジャンル名" ,class: "font-weight-bold mr-3" %>
    <%= f.text_field :name, :placeholder => "ジャンル名"%>
    <%= button_tag type: "submit", class: "btn btn-outline-secondary btn-sm ml-3" do %>
      <i class="fa-solid fa-square-plus fa-xl" style="color: #640125;"></i>
    <% end %>
  </div>
<% end %>