<% genres.each do |genre| %>

  <table class="table table-hover table-borderless genre-table table-rounded">
    <thead>
      <tr>
        <th colspan="2">
          <%= genre.name %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% if genre.subgenres %>
        <% genre.subgenres.each do |subgenre| %>
      <tr>
        <td class="d-flex justify-content-between">
          <% if subgenre.cars.count > 0 %>
            <%= link_to admin_cars_path(subgenre_id: subgenre.id) do %>
              <%= subgenre.name %>
              <span>(<%= subgenre.cars.count %>)</span>
            <% end %>
          <% else %>
            <span><%= subgenre.name %>(<%= subgenre.cars.count %>)</span>
          <% end %>
            <%= link_to "編集", edit_admin_genre_path(genre, subgenre_id: subgenre.id), class: "genre-edit-link ml-3" %>
          <% end %>
        </td>
      </tr>
      <% else %>
        <p>まだ登録データがありません</p>
      <% end %>
    </tbody>
  </table>
<% end %>

