<div class="container my-5">
  <div class="page-info mb-5">
    <h3>ジャンル/サブジャンル編集画面</h3>
  </div>

  <div class="genre-edit-form">
    <div class="page-info mb-4">
      <h5>ジャンル</h5>
    </div>
    <%= form_with model: [:admin, @genre] do |f| %>
      <div class="form-group">
        <div class="form-label">
          <%= f.label :name, "ジャンル名" %>
        </div>
        <div class="input-field">
          <%= f.text_field :name, :placeholder => "ジャンル名", class: "form-control" %>
        </div>
      </div>
      <%= f.submit "更新", class: "btn btn-success btn-sm btn-block" %>
    <% end %>
  </div>

  <div class="genre-edit-form">
    <div class="page-info mb-4">
      <h5>サブジャンル</h5>
    </div>

    <%= form_with model: [:admin, @subgenre] do |f| %>
      <div class="form-label mb-3">
        <%= f.collection_select :genre_id, @genres, :id, :name %>
      </div>
      <div class="form-group">
        <div class="form-label">
          <%= f.label :name, "サブジャンル名" %>
        </div>
        <div class="input-field">
          <%= f.text_field :name, :placeholder => "ジャンル名", class: "form-control" %>
        </div>
      </div>
      <%= f.submit "更新", class: "btn btn-success btn-sm btn-block" %>
    <% end %>
  </div>
</div>