<li>
  <%= link_to "出品一覧", root_path, class: "nav-link text-dark" %>
</li>
<li>
  <%= link_to "ジャンル登録", root_path, class: "nav-link text-dark" %>
</li>
<li>
  <%= link_to "予約一覧", root_path, class: "nav-link text-dark" %>
</li>
<li>
  <%= link_to "問い合わせ一覧", root_path, class: "nav-link text-dark" %>
</li>
<li>
  <%= link_to "未処理", root_path, class: "nav-link text-dark" %>
</li>
<li>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
</li>