<li class="nav-item">
  <%= link_to "出品", admin_cars_path, class: "nav-link text-dark" %>
</li>
<li class="nav-item">
  <%= link_to "ジャンル", admin_genres_path, class: "nav-link text-dark" %>
</li>
<li class="nav-item">
  <%= link_to "予約", admin_appointments_path, class: "nav-link text-dark" %>
</li>
<li class="nav-item">
  <%= link_to "問い合わせ", admin_enquiries_path, class: "nav-link text-dark" %>
</li>
<li class="nav-item">
  <%= link_to "顧客", admin_customers_path, class: "nav-link text-dark" %>
</li>
<li class="nav-item">
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
</li>