<header class="shadow-sm">
  <nav class="navbar navbar-light">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand" href="/">
          <%= image_tag("logo.png", width: "184px", height: "71px") %>
        </a>
      </div>
      <div class="search pt-3">
        <%= render "layouts/search" %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if customer_signed_in? %>
          <%= render "layouts/customer_login_header" %>

        <% elsif admin_signed_in? %>
          <%= render "layouts/admin_login_header"%>

        <% else %>
          <%= render "layouts/logout_header" %>

        <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>