<% if admin_signed_in? %>
  <%= form_with url: admin_cars_path, method: :get do |f| %>
    <div class="search-form">
      <div style="width: 88%;">
        <%= f.text_field :word, placeholder: "Search", class: "form-control" %>
      </div>
      <div style="width: 15%;">
        <%= button_tag type: "submit", class: "btn btn-light" do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #0000b0;"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_with url: root_path, method: :get do |f| %>
    <div class="search-form">
      <div style="width: 88%;">
        <%= f.text_field :word, placeholder: "Search", class: "form-control" %>
      </div>
      <div style="width: 15%;">
        <%= button_tag type: "submit", class: "btn btn-light" do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #0000b0;"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
